.cart-top{padding:0 15px}.cart-top p{font-size:18px;font-weight:700;border-bottom:solid 4px transparent;border-radius:2px;padding:0 38px 7px;display:inline-block;color:#818181;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}.cart-top p{font-size:20px;font-weight:700;border-bottom:solid 4px rgb(54 100 255);border-radius:2px;padding:0 38px 7px;display:inline-block;color:rgb(54 100 255)}.cart-collaterals,.woocommerce-page .cart-collaterals{width:22%}.c-checkout__header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;padding:12px 56px 12px 0;margin:0 0;background:#fff}.c-checkout__header--express{padding-top:22px;color:rgb(54 100 255);border-bottom-color:rgb(54 100 255)}.c-checkout__header-title{color:#777;font-size:15px;font-size:15px;line-height:1.5;font-weight:700;margin-right:8px}.c-checkout__header-title img{margin-left:5px}img,.woocommerce-page img{height:auto;max-width:100%}.c-checkout__header-extra-info{color:#777;font-weight:400;font-size:13px;font-size:15px;line-height:1.5;margin-right:8px}table.shop_table{border:0}table.shop_table{background:#fff}table.shop_table.shop_table_responsive.cart thead{display:none}table.shop_table td{position:relative}.cart .button,.cart input.button{float:none;color:#fff;background:rgb(54 100 255);opacity:1;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}.cart .button,.cart input.button{float:none;color:#fff;background:rgb(54 100 255);opacity:1;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}.update_cart_button{display:none!important}table.shop_table td{position:relative}table.shop_table.shop_table_responsive.cart .product-thumbnail{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-item-align:stretch;align-self:stretch}table.shop_table.shop_table_responsive.cart td{border:0!important}img,.woocommerce-page img{height:auto;max-width:100%}table.cart img{width:190px;height:190px}#content table.cart img,table.cart img,.woocommerce-page #content table.cart img,.woocommerce-page table.cart img{height:auto;border-radius:10px}table.shop_table.shop_table_responsive.cart .product-name a{color:#2c2c2c;font-size:16px;display:block;font-weight:500}table.shop_table td .product-price{display:none}table.shop_table.shop_table_responsive.cart .product-price{display:none}.product-price{position:absolute;bottom:9px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:100%}.quantity2{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;border:2px solid #efefef;border-radius:3px}.quantity2 div{height:40px;border:0;padding:10px;color:#0cbce3;background:transparent;cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.quantity2 div a{color:#0cbce3;display:block;margin-right:4px}table.shop_table{border:0}table.shop_table{background:#fff}a.remove,.quantity{display:none}.cart-collaterals .cart_totals>h2{text-align:center;display:none}.cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button{width:100%;color:#FFF;background-color:rgb(54 100 255)!important;border-color:rgb(54 100 255)!important;isplay:inline-block;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding:5px 12px;height:44px;font-size:16px;border-radius:5px;-webkit-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;line-height:32px;font-weight:500!important}.cart_totals{background:#fff;padding:9px;box-shadow:0 0 2px #dbdbdb;border-radius:10px}form.woocommerce-cart-form.col-md-9{padding:9px;box-shadow:0 0 2px #dbdbdb;border-radius:10px}.c-tab-checkout-empty__cart{display:-webkit-box;display:-ms-flexbox;display:flex}.c-checkout-empty__container{width:100%}.c-checkout-empty{margin-bottom:30px;width:100%;background:#fff;padding:30px;text-align:center;line-height:22px;border:1px solid #ededed}.c-checkout-empty__empty-cart-icon{margin:0 auto;width:200px;height:150px;background:url(../img/68b7acd6.png) 50% no-repeat;background-size:contain}.c-checkout-empty__title{font-size:18px;line-height:31px;color:#424750;text-align:center;margin:4px auto 12px}.c-checkout-empty__links{margin-bottom:20px}.c-checkout-empty__links p{font-size:12px;line-height:21px;color:#6d727e;margin-bottom:6px}.c-checkout-empty__link-urls a:not(:last-of-type){border-left:1px solid #e0e0e2;padding-left:12px;margin-left:12px}.c-checkout-empty__link-urls a{cursor:pointer;color:#12b4cd;font-size:12px;line-height:24px}.header-top-left-section.header-top-mobile-left-section>a:first-child{-webkit-box-shadow:none;box-shadow:none}.page-post-related .blog-item-img img{-webkit-box-shadow:0 0 10px #ccc;box-shadow:0 0 10px #ccc;border-radius:10px;min-height:auto!important;width:90%;height:auto!important}.header-top-left-section>span i{font-weight:300}#order_review_heading{font-size:18px;margin-bottom:17px}.cart-collaterals,.woocommerce-page .cart-collaterals{width:22%}.c-checkout__header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;padding:12px 56px 12px 0;margin:0 0;background:#fff}.c-checkout__header--express{padding-top:22px;color:rgb(54 100 255);border-bottom-color:rgb(54 100 255)}.c-checkout__header-title{color:#777;font-size:15px;font-size:15px;line-height:1.5;font-weight:700;margin-right:8px}.c-checkout__header-title img{margin-left:5px}img,.woocommerce-page img{height:auto;max-width:100%}.c-checkout__header-extra-info{color:#777;font-weight:400;font-size:13px;font-size:15px;line-height:1.5;margin-right:8px}table.shop_table{border:0}table.shop_table{background:#fff}.woocommerce-cart-form__contents thead{display:none}table.shop_table td{position:relative}.checkout-button{background:#40A8C4!important;width:305px;display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:45px;font-size:17px!important;font-weight:600!important}.cart .button,.cart input.button{float:none;color:#fff;background:#40A8C4;opacity:1;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}.cart .button,.cart input.button{float:none;color:#fff;background:#40A8C4;opacity:1;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}.update_cart_button{display:none!important}table.shop_table td{position:relative}.woocommerce-cart-form__cart-item .product-thumbnail{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-item-align:stretch;align-self:stretch}.woocommerce-cart-form__cart-item td{border:0!important}img,.woocommerce-page img{height:auto;max-width:100%}table.cart img{width:190px;height:190px}#content table.cart img,table.cart img,.woocommerce-page #content table.cart img,.woocommerce-page table.cart img{height:auto;border-radius:10px}.woocommerce-cart-form__cart-item .product-name a{color:#2c2c2c;color:#2c2c2c;font-size:18px;margin-bottom:20px!important;display:block;font-weight:700}table.shop_table td .product-price{display:none}.woocommerce-cart-form__cart-item .product-price{display:none}.product-price{position:absolute;bottom:9px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:100%}.quantity2{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;border:2px solid #efefef;border-radius:3px}.quantity2 div{border:0;padding:10px;color:#0cbce3;background:transparent;cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.quantity2 div a{color:#0cbce3;display:block;margin-right:4px}table.shop_table{border:0}table.shop_table{background:#fff}a.remove,.quantity{display:none}.cart-collaterals .cart_totals>h2{text-align:center;display:none}table.shop_table.shop_table_responsive.cart{width:100%}.cart-collaterals table.shop_table tbody th{white-space:nowrap;font-size:14px!important}table.shop_table th{font-weight:400!important}table.shop_table{background:#fff}table.shop_table{border:0}table.shop_table{background:#fff}table.shop_table{border:0}table.shop_table{margin:0 0 24px -1px;text-align:right;width:100%;border-collapse:separate;border-radius:5px}ul.nav.nav-tabs.checkout-nav{border:0}.tab-pane.fade.in.active{opacity:1}.woocommerce-billing-fields{background:#fff;border-top-left-radius:4px;border-top-right-radius:4px;padding:0 0 10px}.etelat-check{margin-bottom:33px}.etelat-check p{padding:0 80px;font-size:13px}.etelat-check span{text-align:center;display:inline-block;padding:24px 80px 10px;border-bottom-left-radius:6px;border-bottom-right-radius:6px}.woocommerce-billing-fields__field-wrapper .form-row:nth-child(1),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(2),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(3),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(4),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(5),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(6){width:33%;display:inline-block;padding:0 15px;float:none}.woocommerce form .form-row label{line-height:2;margin-bottom:12px;font-size:17px}.woocommerce form .form-row input.input-text,.woocommerce form .form-row textarea{border-radius:5px;border:solid 3px #ff9800;padding:9px 10px}#order_review{padding:17px 0}#order_review_heading{margin:0;margin-bottom:10px}#order_review table.shop_table{border:0;border:solid 2px #a3a7a6!important}table.shop_table th{font-weight:700;padding:9px 12px;line-height:1.5em}table.shop_table td{position:relative}table.shop_table td{text-align:center}.checkout-nav{border-bottom:0}p#billing_country_field{display:none}.woocommerce form .form-row input.input-text,.woocommerce form .form-row textarea{border-radius:5px;border:solid 3px #ff9800;padding:9px 10px}span.woocommerce-input-wrapper{width:100%}.select2-container--default .select2-selection--single{justify-content:flex-end;border-radius:5px;border:1px solid #e0e0e2!important;padding:10px 12px 10px 36px;width:100%;text-align:right;font-size:14px;line-height:24px;height:48px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}ul.nav li::after{width:361px!important;top:122%!important;right:-52%!important}.messangers-block .messanger p,.messangers-block .messanger .arcu-item-label,.arcontactus-message-button p{font-family:iranSans!important}.owl-carousel.owl-product2 .owl-item img,.owl-product.owl-carousel .owl-item img{height:auto}.kksr-stars{direction:ltr}.page-post-img>img{-webkit-box-shadow:0 0 10px #ccc;box-shadow:0 0 10px #ccc}.page-post-content ol,.page-post-content ul{padding:18px}.page-post-content p:last-child{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.woocommerce-ordering,.woocommerce-result-count{display:none!important}.orderby_page_cat a{display:inline-block;padding:7px 21px;margin:0 10px 20px;background:#c0ffb3;min-width:92px;text-align:center;color:#2c7873;border-radius:5px}button.checkout-button.button.alt.wc-forward{border:0;background:rgb(54 100 255)!important;color:#fff;border-radius:10px;font-weight:500!important}table.shop_table.woocommerce-checkout-review-order-table th{text-align:center}abbr.required{display:none}
#order_review_heading{font-size:18px;margin-bottom:17px}
.coupon_box_content input{width:250px;padding:9px 8px;border:solid 1px #bbb;border-radius:8px;margin-left:13px}#respond input#submit.alt,a.button.alt,button.button.alt,input.button.alt{border-radius:6px;background:rgb(54 100 255)!important;color:#fff;font-weight:400;border:0;font-size:.875rem;line-height:1.5}
.gateway_item{align-items:center;display:flex;align-self:center;margin-bottom:20px;padding:17px;cursor:pointer;background:#fff;border-radius:13px;transition:.5s;border:2px solid rgb(140 140 140 / 17%)}
.gateway_item.active{border: 2px solid rgb(54 100 255);
    background: rgba(194, 40, 213, 0.05);}
.gateway_item p{margin:0}tr.cart_item{font-size:15px;text-align:center;display:table-row;border-top:1px solid rgba(0,0,0,.1);padding:9px 12px;vertical-align:middle;line-height:3.5em;margin-bottom:12px}ul.nav.nav-tabs.checkout-nav{padding:0}.header-bottom-category-box{margin-top:19px!important}body.modal-open{padding:0!important}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.w3-green, .w3-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important;
}
.delivery-label {
    margin-top: 14px;
    position: relative;
}span.delivery_step {
     position: absolute;
     font-weight: 500;
 }span.delivery_step.delivery_step_1 {
      right: calc(25% - 66px);
  }span.delivery_step.delivery_step_2 {
       right: calc(50% - 36px);
   }span.delivery_step.delivery_step_3 {
        right: calc(75% - 48px);
    }
span.delivery_step.delivery_step_4 {
    right: calc(93% - 33px);
    white-space: nowrap;
}
.delivery_circle {
    position: absolute;
    top: -7px;    width: 100%;
}span.delivery_circle_item {
     background: #cccccc;
     padding: 10px;
     border-radius: 50%;
     display: inline-flex;
     width: 38px;
     height: 38px;
     align-items: center;
     justify-content: center;
     font-weight: bold;    position: absolute;
 }
span.delivery_circle_item.delivery_circle_item_1 {
    right: calc(25% - 19px);
}
span.delivery_circle_item.delivery_circle_item_2 {
    right: calc(50% - 19px);
}
span.delivery_circle_item.delivery_circle_item_3 {
    right: calc(75% - 19px);
}span.delivery_circle_item.delivery_circle_item_4 {
     right: calc(100% - 19px);
 }
span.delivery_circle_item.active {
    background: #4caf50;
    color: #fff;
    box-shadow: 0 0 2px #999;
}

.cart-checkout-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 2px solid rgb(140 140 140 / 17%);
    border-radius: 16px;
    padding: 20px;
}
.cart-checkout-top-item a {
    display: flex;
    align-items: center;
}
.cart-checkout-top-item a span {
    color: #2929294a;
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}
.cart-checkout-top-item a strong {
    color: #424242;
    font-weight: 800;
}
.cart-checkout-top-item-right {
    background: #FFFFFF;
    border: 2px solid rgb(140 140 140 / 17%);
    border-radius: 16px;
    margin-left: 20px;
    padding: 11px;
}
.cart-checkout-top-item-right svg path{
    stroke: #29292966;
}
.cart-checkout-top-item.complete .cart-checkout-top-item-right{
    background: #28D5C2;
    border: 2px solid rgba(255, 255, 255, 0.24);
    box-shadow: -4px 10px 24px rgb(40 213 194 / 32%);
}
.cart-checkout-top-item.current .cart-checkout-top-item-right{
    border: 2px solid rgba(255, 255, 255, 0.24);
    box-shadow:-4px 10px 24px rgb(54 100 255)57;
    background: rgb(54 100 255);
}

.cart-checkout-top-item.complete .cart-checkout-top-item-right  svg path{
    stroke: #fff;
}
.cart-checkout-top-item.current .cart-checkout-top-item-right  svg path{
    stroke: #fff;
}

.cart-checkout-top-item-right svg {
    height: 30px;
    width: 30px;
}
tr.cart_item {
    margin-bottom: 20px;
    display: block;
    border-top: 0;
    border: 2px solid rgb(140 140 140 / 17%);
    padding: 20px;
}
tr.cart_item:first-child{
    border-top: 0;
    padding-top: 0;
}
.product-name {
    text-align: right;
}
table.shop_table.shop_table_responsive.cart .product-name a {
    font-weight: 800;
}
.product-subtotal {
    color: rgb(54 100 255);
    font-size: 21px;
    font-weight: 800;
}
.quantity2 div {
    border: 2px solid #29292907;
    border-radius: 12px;
    margin: 0 10px;
    width: 47px;
    text-align: center;
    justify-content: center;
    height: 47px;color: #424242;
}
div#btn2 {
    border: 0;
    margin: 0;
}
.quantity2 {
    border: 0;
}
td.product-thumbnail {
    align-items: center;
}
.cart-total-delivery {
    display: flex;
    align-items: center;
}.cart_total_box {
     background: #29292908;
     border-radius: 24px;
     padding: 20px;
     margin-bottom: 20px;
 }
.checkout-button {
    width: 305px;
    background: rgb(54 100 255) !important;
    border-radius: 16px;
    color: #fff !important;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 57px;
    font-size: 17px!important;
    font-weight: 600!important;
    border: 0 !important;
}
.checkout-box-btn {
    margin-bottom: 30px;    display: flex;
    justify-content: space-between;align-items: center;
}
.cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100% !important;
}
a.checkout-button.d-none.button.alt.wc-forward {
    display: none !important;
}.select2-container--default .select2-selection--single {
     line-height: 24px;
     padding: 21px;
     display: flex;
     align-items: center;
 }span.select2-selection__arrow {
      top: 50% !important;
      transform: translateY(-50%);
  }input.select2-search__field {
       text-align: right;
   }
.checkout-box-btn div a {
    color: #29292954;
}
.checkout-box-btn div a svg path {
    stroke: #29292954;
}
.woocommerce-billing-fields__field-wrapper .form-row:nth-child(1),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(2),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(3),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(4),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(5),.woocommerce-billing-fields__field-wrapper .form-row:nth-child(6){width:33%;display:inline-block;padding:0 15px;float:none}.woocommerce form .form-row label{line-height:2;margin-bottom:12px;font-size:17px}.woocommerce form .form-row input.input-text,.woocommerce form .form-row textarea{border-radius:5px;border:solid 3px #ff9800;padding:9px 10px}
form .form-row input.input-text{border-radius: 5px;
    border: 1px solid #e0e0e2 !important;
    padding: 10px 12px 10px 36px;
    width: 100%;
    text-align: right;
    font-size: 14px;
    line-height: 24px;}

.select2-container--default .select2-selection--single {
    justify-content: flex-end;
    border-radius: 5px;
    border: 1px solid #e0e0e2!important;
    padding: 10px 12px 10px 36px;
    width: 100%;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}span.select2.select2-container.select2-container--default {
     width: 100% !important;
 }
.select2-container--default .select2-selection--single {
    line-height: 24px;
    padding: 21px;
    display: flex !important;
    align-items: center;
}span.select2-selection__arrow {
     top: 50% !important;
     transform: translateY(-50%);
 }input.select2-search__field {
      text-align: right;
  }.form-row {
       margin-bottom: 20px;
   }
.woocommerce-billing-fields {
    margin-bottom: 40px;
}
form .form-row input.input-text:focus,form .form-row textarea:focus{
    border-color: rgb(54 100 255) !important;
;
}
.address-box-item,.gateway-box-item {
    padding: 20px;
    background: rgb(243 243 243 / 5%);
    border: 2px solid #e9e9e95e;
    border-radius: 12px;
    cursor: pointer;    transition: .4s;
}
.address-box-item.active,.gateway-box-item.active  {
    background: rgba(194, 40, 213, 0.05);
    border: 2px solid rgb(54 100 255);
}
.checkout_addresses {
    margin-top: 40px;
}
.address-box-item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 800;
}
.address-box-item-bottom p {
    margin-bottom: 8px;
}
.address-add-new {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgb(243 243 243 / 5%);
    border: 2px solid #e9e9e95e;
    border-radius: 12px;
}
.address-add-new a {
    font-weight: 800;
    color: #424242;
    font-size: 15px;
}
.address-box-item-top-right input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.address-box-item-top-right .checkmark {
    position: absolute;
    top: 0;    cursor: pointer;
    left: 0;
    height: 15px;border-radius: 5px;
    width: 15px;
    background-color: #eee;
}
.address-box-item-top-right input:checked ~ .checkmark {
    background-color: rgb(54 100 255);
}
.address-box-item-top-right .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.address-box-item-top-right input:checked ~ .checkmark:after {
    display: block;
}
.address-box-item-top-right .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.address-box-item-top-right label {
    position: relative;
    margin-left: 15px;
    padding-right: 20px;
}
.ghasedak-title.ghasedak-title-search {
    display: flex;
    justify-content: space-between;align-items: center;
}
.ghasedak-title.ghasedak-title-search a {
    background: linear-gradient(284.91deg, rgb(54 100 255) -8.58%, #C370FF 108.58%);
    color: #fff;
    padding: 11px;
    border-radius: 10px;
    font-size: 14px;
}
.gateway_item strong {
    font-weight: 800;
    margin-left: 10px;
}.gateway_item span {
     font-size: 13px;
 }
.gateway_item img {
    margin-left: 15px;
}
.coupon_box_content input {
    width: 80%;
    padding: 9px 8px;
    border: 2px solid #2929290a;
    border-radius: 8px;
    margin-left: 13px;
}button.apply_coupon.btn.btn-sm.button.alt {
     padding: 12px 27px !important;
     border-radius: 10px;
     font-size: 14px;
 }
.address-box-item-bottom strong {
    font-weight: 800;
}
.my-accountsss tr.cart_item {
    display: table-row;
}

.product-icons-left span {
    font-size: 13px;
}
.product-icons-left strong {
    display: block;
    font-weight: 800;
    margin-bottom: 8px;
}
.checkout-box-btn {
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 2px #f5f5f5;
}
tr.cart-discount {
    color: rgb(54 100 255);
}
.bill_cart .cart_totals.calculated_shipping table {
    background: #2929290d;
    border-radius: 24px;
    padding: 20px;
}.cart-collaterals.bill_cart .cart_totals {
     padding: 0;
     box-shadow: none;
 }
.bill_cart .cart_totals.calculated_shipping tr.order-total th,.bill_cart .cart_totals.calculated_shipping tr.order-total td {
    border-top:2px dashed #29292924;
    align-items: center;    font-weight: 800 !important;
    font-size: 17px !important;
}
.bill_cart .cart_totals.calculated_shipping tr.cart-discount th, tr.cart-discount td {
    padding-bottom: 20px;
}


.received_table tbody {
    display: flex;
    flex-wrap: wrap;
}
.received_table tr.cart-form__cart-item.cart_item {
    flex: 0 0 50%;
    border-radius: 20px;
}
.received_table .product-subtotal {
    font-size: 16px;
}
.checkout-received {
    background: #FFFFFF;
    border: 2px solid rgb(140 140 140 / 17%);
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 50px;
}
.checkout-received-title strong {
    font-size: 28px;
    text-align: right;
    color: #28D5C2;
    font-weight: 800;
    margin-bottom: 10px;
    display: block;
}
.checkout-received-data p {
    margin-left: 23px;
}
.checkout-received-data {
    display: flex;
}
a.btn-edit-account {
    background: rgb(54 100 255);
    border-radius: 12px;
    color: #fff;
    padding: 13px 26px;
    font-size: 15px;white-space: nowrap;
}
.fsww-meke-deposit-sc-top{display:flex;align-items:center;justify-content:space-between;font-weight:700;background:#f5f5f580;border-radius:20px;margin-bottom:20px;padding:0 20px}.fsww-meke-deposit-sc-top svg{width:100px;height:auto}.fsww-meke-deposit-sc h5 svg{width:100px;height:auto}.fsww-meke-deposit-sc h5{color:rgb(54 100 255)}.fsww-meke-deposit-sc-bottom{background:#fff;border-radius:20px;margin-bottom:20px;padding:20px}input#fsww_balance_to_add{width:250px;padding:8px 10px;border-radius:7px;border:solid 1px #bbb}.fsww-meke-deposit-sc-bottom input.button{background:rgb(54 100 255)!important;padding:12px 26px!important;font-size:14px!important;border:0;margin-right:20px}.fsww-meke-deposit-sc-bottom form{margin-right:65px}
.add-address a {
    display: inline-block;
    padding: 10px 20px;
    background:  rgb(54 100 255);
    color: #fff;
    border-radius: 6px;
}
.woocommerce-MyAccount-content .address-box-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address-box-item .right {
    display: flex;
    align-items: center;
}
